<?xml version="1.0"?>
<config>
    <modules>
        <Babyandmore_Dbchange>
            <version>0.1.2</version>
        </Babyandmore_Dbchange>
    </modules>
    <global>
        <resources>
            <babyandmore_dbchange_setup>
                <setup>
                    <module>Babyandmore_Dbchange</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </babyandmore_dbchange_setup>
        </resources>
    </global>
</config>
